@font-face {
    src: url('../fonts/CaviarDreams.ttf');
    font-family: 'Display Normal';
}

@font-face {
    src: url('../fonts/CaviarDreams_Bold.ttf');
    font-family: 'Display Bold';
}

@font-face {
    src: url('../fonts/Cherry Monospace-Light.ttf');
    font-family: 'Monospace';
}

* {
    box-sizing: border-box;
    user-select: none;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    cursor: default;
    font-family: 'Display Normal', sans-serif;
}

::selection {
    background-color: #E8A0A0;
}

button:focus, input:focus {
    outline: none;
}

body {
    margin: 10px 0 0 0;
}

button {
    cursor: pointer;
}

#game-cont {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border-radius: 1%;
    border: 0.25vmin solid #DDD;
    background-color: #EEE;
}

#top-bar {
    height: 6.5%;
    border-radius: 1%;
    border-bottom: 0.25vmin solid #DDD;
    background-color: #EEE;
}

.main-panel {
    height: 93.5%;
    display: none;
}

.mpc-title {
    margin: 4vh 0;
    text-align: center;
    font-size: 4vmin;
}

button {
    font-family: 'Display Bold', sans-serif;
    color: #FFF;
    border: 0.15vmin solid #FFF;
    background-color: #A65050;
}

button:hover {
    background-color: #A87676;
}

input {
    font-weight: bold;
    color: #FFF;
    border: 0.15vmin solid #FFF;
    background-color: #734949;
    text-transform: uppercase;
}
