* {
    box-sizing: border-box;
    font-family: monospace;
}

body {
    margin: 10px 0 0 0;
}

button {
    cursor: pointer;
}

#game-cont {
    width: 1000px;
    height: 1000px;
    margin: 0 auto;
    border: 1px solid #000;
}

#top-bar {
    height: 6.5%;
    border-bottom: 1px solid #000;
}

.main-panel {
    height: 93.5%;
    display: none;
}

.mpc-title {
    margin: 4vh 0;
    text-align: center;
    font-size: 4vmin;
}