#mp-gameplay {
    display: none;
}

#mpc-gameplay-top-left-section {
    width: 28%;
    height: 86%;
    float: left;
}

#mpc-gameplay-top-right-section {
    width: 72%;
    height: 86%;
    float: left;
    border-left: 0.25vmin solid #DDD;
}

#mpc-gameplay-bottom-section {
    height: 14%;
    clear: both;
    border-top: 0.25vmin solid #DDD;
}

#mpc-gameplay-tpstats-cont {
    display: flex;
}

#mpc-gameplay-incorrect-letters-cont {}

#mpc-gameplay-keyboard {
    width: 85%;
    height: 100%;
    float: left;
}

#mpc-gameplay-hint-cont {
    width: 15%;
    height: 100%;
    padding: 1%;
    float: left;
}

/* Top Bar */
#top-bar > div {
    float: left;
    width: 50%;
    height: 100%;
    padding: 1%;
}

#hangman-logo {
    height: 100%;
}

#top-bar-buttons-cont {
    text-align: right;
}

.top-bar-btn {
    height: 100%;
    padding: 0 2%;
}

/* Two Player Stats */
#mpc-gameplay-p1-stats-cont, #mpc-gameplay-p2-stats-cont {
    width: 50%;
    height: 100%;
    float: left;
    border-bottom: 0.25vmin solid #DDD;
}

.mpc-stats-player-name {
    width: 100%;
    padding: 10%;
    text-align: center;
    color: #A65050;
    font-size: 1.5vmin;
    font-family: 'Display Bold', sans-serif;
    text-transform: uppercase;
}

.mpc-stats-points {
    padding: 10%;
    padding-top: 0;
    text-align: center;
    font-size: 3vmin;
}

/* Incorrect Letters */
#incorrect-letters-title {
    padding: 7.5%;
    text-align: center;
    font-family: 'Display Bold', sans-serif;
    color: #A65050;
    font-size: 2vmin;
}

#incorrect-letters-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.mpc-incorrect-letter {
    width: 20%;
    margin: 2%;
    padding: 2.5%;
    text-align: center;
    font-size: 2vmin;
    font-family: 'Display Bold', sans-serif;
}

/* Word Progress */
#mpc-gameplay-word-progress {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 20%;
    padding: 1.5%;
}

#mpc-gameplay-word-progress > div {
    width: 7%;
    margin-right: 1%;
    font-size: 3vmin;
    font-family: 'Display Bold', sans-serif;
    text-align: center;
}

.letter-progress-not-guessed {
    border-bottom: 0.15vmin solid #000;
}

.letter-progress-space {
    opacity: 0;
}

#mpc-gameplay-word-progress > div:last-of-type {
    margin-right: 0;
}

/* Word Progress - States */
#mpc-gameplay-word-progress.in_progress > div {
    color: #000;
    border-bottom-color: #AAA;
}

#mpc-gameplay-word-progress.fail > div {
    color: #D14141;
    text-shadow: 0 0 1.5vmin #F00;
}

#mpc-gameplay-word-progress.complete > div {
    color: #2A8C3C;
    text-shadow: 0 0 1.5vmin #0F0;
}

/* Progress Visual */
#mpc-gameplay-progress-visual {
    height: 70%;
    text-align: center;
}

#progress-image {
    height: 100%;
    border: 1px solid #000;
}

/* Next Round */

#mpc-gameplay-next-round-container {
    padding: 2%;
    height: 10%;
    text-align: right;
}

#next-round-btn {
    padding: 0 5%;
    height: 100%;
    font-size: 1.5vmin;
    display: none;
}

/* Keyboard */
#mpc-gameplay-keys-row-1, #mpc-gameplay-keys-row-2 {
    height: 50%;
    display: flex;
    align-items: stretch;
}

#mpc-gameplay-keys-row-1 {
    padding: 1% 1% 0.5% 1%;
}

#mpc-gameplay-keys-row-2 {
    padding: 0.5% 1% 1% 1%;
}

.mpc-keyboard-key {
    flex-grow: 1;
    margin-right: 1%;
    font-family: 'Monospace', monospace;
    font-size: 2vmin;
    border-radius: 1vmin;
}

.mpc-keyboard-key:disabled {
    opacity: 0.3;
}

.mpc-keyboard-key:last-of-type {
    margin-right: 0;
}

/* Hint Button */
#hint-btn {
    width: 100%;
    height: 100%;
    background-color: #DEB968;
}

#hint-btn:hover {
    background-color: #E6CA8E;
}

#hint-btn * {
    cursor: pointer;
    font-family: 'Monospace', monospace;
    color: #000;
}

#hint-btn span {
    text-align: center;
    display: block;
}

#hint-btn-title {
    font-size: 1.5vmin;
}

#num-hints-remaining {
    font-size: 2.5vmin;
}

